<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}
    <div class = "container-fluid main_header">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class = "row">
                    <! left side div>
                    <div class = "col-md-12 col-12 main_header_left align-items-center">
                        <p>
                            Welcome to the Error Page
                        </p>
                        <h1>{{errorMsg}}</h3>
                    
                        <figure class = "errimg">
                            <img src="https://media.istockphoto.com/id/1011853308/vector/page-not-found.jpg?s=612x612&w=0&k=20&c=pS_I2TmBhXl7aaOW-0iGo_DgFj6xrSn82I7CwmXUwL4=" class="img-fluid" title="pratyush">
                           </figure>
                    

                           <a href = "index.html"><button>Return home</button></a>
                        <! sliding concep>
                    </div>
                    <! right side div>
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>