<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}
    <div class = "container-fluid main_header">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class = "row">
                    <! left side div>
                    <div class = "col-md-6 col-12 main_header_left align-items-center">
                        <p>
                        </p>
                        <h1>Welcome To <span class ="text_clr">The About Me Section :)</span></h1>
                            <h3 style = "opacity : 0.8" ;> Hello, I'm Pratyush, a passionate Web Developer. My journey in the world of technology has been nothing short of exhilarating. By day, I am a dedicated coder who thrives on solving problems and building innovative web applications. I find the ever-evolving landscape of web development endlessly fascinating, and I'm committed to staying at the forefront of this dynamic field.
                            
                            Beyond my professional life, I'm a multifaceted individual with a wide range of interests. Music is my soul's language, and you can often find me singing my heart out or experimenting with melodies. Reading books is another passion of mine, as it offers me a window into different worlds and perspectives. I'm also an avid consumer of podcasts, always hungry for knowledge and insights from diverse sources.
                            
                            One of my standout qualities is my team spirit. I firmly believe that collaboration is key to achieving great results, and I thrive in collaborative environments. I approach every project with dedication and a strong work ethic, always seeking opportunities to push my limits and grow both personally and professionally.</h3>
                        <a href = "index.html"><button>Return home</button></a>
                    </div>
                    <div class = "col-md-6 col-12 main_header_right">
                        <! sliding concep>
                       <figure>
                        <img src="https://t3.ftcdn.net/jpg/00/79/32/70/360_F_79327071_ubG3dWNUwUeVFqALg55FLqGpJFgfnoRY.jpg">
                       </figure>
                    </div>
                    <! right side div>
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>